<!DOCTYPE html>
<html>
<head>
  <title>RealtimeDrawing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>
  <script type="text/javascript">
    $(document).ready(function(){
      var paint;
      var context = document.getElementById('canvas').getContext("2d");
      var save_history_drawing_url = "<%=save_history_drawing_url %>"
      var clickX = new Array();
      var clickY = new Array();
      var clickDrag = new Array();
      var PUSHER_KEY = '<%= Pusher.key %>';

      function addClick(x, y, dragging){
        clickX.push(x);
        clickY.push(y);
        clickDrag.push(dragging);
      }

      $('#canvas').mousedown(function(e){
        var mouseX = e.pageX - this.offsetLeft;
        var mouseY = e.pageY - this.offsetTop;
          
        paint = true;
        addClick(mouseX, mouseY);
        redraw();
      });

      $('#canvas').mousemove(function(e){
        if(paint){
          addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
          redraw();
        }
      });

      $('#canvas').mouseup(function(e){

        if(paint == true) {
          $.ajax({
            type: "post",
            url: save_history_drawing_url,
            data: {
              x_pos: clickX,
              y_pos: clickY,
              drag_pos: clickDrag
            },
            beforeSend: function(){
              paint = false;
            }
          });
        }

        paint = false;
      });

      $('#canvas').mouseleave(function(e){

        if(paint == true) {
          $.ajax({
            type: "post",
            url: save_history_drawing_url,
            data: {
              
            },
            beforeSend: function(){
              paint = false;
            }
          });
        }

        
      });

      function redraw(){
        canvas.width = canvas.width; // Clears the canvas
        
        context.strokeStyle = "#df4b26";
        context.lineJoin = "round";
        context.lineWidth = 5;
            
        for(var i=0; i < clickX.length; i++) {   
          context.beginPath();
          if(clickDrag[i] && i) {
            context.moveTo(clickX[i-1], clickY[i-1]);
          } else {
            context.moveTo(clickX[i]-1, clickY[i]);
          }
          context.lineTo(clickX[i], clickY[i]);
          context.closePath();
          context.stroke();
        }
      }

      
      var socket = new Pusher(PUSHER_KEY);
      channel = "<%= @drawing.name %>";
      chat_id = "<%= @drawing.id %>";
      user_id = "<%= @user.id %>";
      // Global variable "channel" is set in the view
      var publicChannel = socket.subscribe(channel);

      // Deal with incoming messages!
      publicChannel.bind('receive_drawing', function(history_drawing) {
        if (history_drawing != null) {
          if (history_drawing.user.id == user_id) {return true;}

          clickX = history_drawing.x_pos.split(",");
          clickY = history_drawing.y_pos.split(",");
          clickDrag = history_drawing.drag_pos.split(",");

          redraw();
        }
        
      });

      

      <% if !@history_drawing.nil? %>
        var x_string = "<%= @history_drawing.x_pos %>"
        var y_string = "<%= @history_drawing.y_pos %>"
        var drag_string = "<%= @history_drawing.drag_pos %>"

        clickX = x_string.split(",");
        clickY = y_string.split(",");
        clickDrag = drag_string.split(",");

        redraw();

      <% end %>


    });
    
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
